body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(130, 23, 41);
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-wrap: wrap; /* Consente al contenuto di andare a capo in un display flessibile */
    align-items: center;
}

.left-image {
    margin-right: 20px;
    align-self: flex-start;
    max-width: 100%; /* Imposta una larghezza massima per l'immagine in modo che non superi il contenitore */
}

h1 {
    font-size: 36px;
    margin-top: 0;
    margin-left: 30px;
}

h2 {
    font-size: 24px;
    margin-top: 0;
    margin-left: 80px;
}

table {
    width: 80%; /* Fai espandere la tabella al 100% del contenitore padre */
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
}

th, td {
    border: 2px solid #ddd;
    padding: 10px;
    text-align: left;
}

thead {
    background-color: rgb(130, 23, 41);
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Media query per schermi di larghezza massima di 768px (ad esempio, dispositivi mobili) */
@media (max-width: 768px) {
    header {
        flex-direction: column; /* Imposta il layout su colonna */
        text-align: left;
    }

    h1 {
        margin-left: 0; /* Rimuovi il margine sinistro per h1 */
    }

    h2 {
        margin-left: 0; /* Rimuovi il margine sinistro per h2 */
    }

    .left-image {
        margin-right: 0; /* Rimuovi il margine destro per l'immagine */
    }
}
